@charset "UTF-8";
main, header, footer, article, nav, div, button, span, h3, p {
    box-sizing: border-box;
}
body {
    align-content: center;
    margin: 0px;
    background-color: black;
}
main {
    font-family: Arial, Verdana, sans-serif;
    font-size: 10pt;
    color: black;
    margin: auto;
    width: 90%;
    max-width: 1000px;
    display: grid;
    grid-template-areas:" h h h"
                        " n n n" 
                        " a a a"
                        " f f f";
}
nav {
    grid-area: n;
}
article {
    display: grid;
    grid-area: a;
    background-color: black ;
    color: white;
}
.foszoveg {
    text-align: justify;
}
h1 {
    font-size: 20px;
    text-align: center;
}
h2 {
    font-size: 15px;
    text-align: center;
}
footer {
    grid-area: f;
    background-color: black;
    text-align: center;
    color: white;
}
.kepek img {
    width: 100%;
    padding: 5px;
    max-height: 250px;
}
.termek {
    padding: 10px;
    margin: 3px;
    text-align: center;
}
.kepek {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
button {
    background-color: black;
    color: lightblue;
    border: 2px solid lightblue;
    padding: 3px;
}
span {
    padding: 5px;
}

@media screen and (max-width: 600px){
    main {
        grid-template-areas:" h"
                            " n"
                            " a ""
                            " f";
    }
}